body {
    font-family: Arial, sans-serif;
    background-color: #e0fae0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:green;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding-top: 30PX;
    padding-bottom: 30PX;
   
}
.main{
    background-color: white;
    border-radius: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
}

h2 {
    margin: 0;
    text-align: left;
    padding-left:10px
}

form {
    margin-bottom: 10px;
}


#add-button{
    background-color: rgb(20, 127, 189);
    border-radius: 20px;
    width:60px;
    border: solid white;
    padding: 5px;
color: #e0fae0;
}

button:hover {
    opacity: 0.8;
}

#todo-list {
    list-style-type: none;
    padding-left: 30px;
    text-align: left;
}

/* #todo-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
} */

#todo-list li.completed {
    text-decoration: line-through;
    color: rgb(17, 7, 7);
    background-color: rgb(190, 182, 182);
   
}

#clear-completed{
    border-radius: 20px;
    border: solid white;
    background-color: rgb(28, 137, 141);
    padding:7px;
    font-size: x-small;
    color:white
}
#empty-list{
    border-radius: 40px;
    border: solid white;
    background-color: rgb(95, 27, 18);
    padding:7px;
    width:100px;
    color:white;
    font-size:x-small;
}
#save-list{
    border-radius: 40px;
    border: solid white;
    background-color: rgb(18, 161, 18);
    padding:7px;
    font-size: x-small;
    color:white;
    width:100px;
}

